.show-container {
  font-family: var(--font-ubuntu);

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  > .rs-container {
    height: inherit;
  }

  .rs-header,
  .rs-content,
  .rs-footer {
    text-align: center;
  }

  .rs-header,
  .rs-footer {
    line-height: 56px;
  }

  .rs-content {
    max-width: 100%;
  }

  .greeting-wrapper {
    display: grid;
    font-family: var(--font-ubuntu);
    padding: 0 0 40px 0;

    .developer {
      color: var(--brand-1);
      font-size: clamp(2rem, 8vw, 8rem);
      font-weight: 400;
      font-style: normal;
      padding: 30px 0 10px 0;
    }

    .greeting {
      width: 60%;
      margin: 0 auto;
      text-align: left;

      div > p > span {
        color: var(--brand-1)
      }

      .hey {
        font-size: clamp(2rem, 6vw, 3rem);
        color: var(--text-color);
        padding: 0 20px;
      }

      .tag {
        color: var(--brand-1);
        font-size: clamp(0.5rem, 1rem, 2rem);
      }

      p {
        padding: 2px 0;
        font-size: clamp(2rem, 8vw, 4rem);
        color: var(--text-color);
      }

      .sub-text {
        margin-top: 20px;
      }

      .text {
        padding: 0 20px;
        font-size: clamp(0.5rem, 1rem, 2rem);
        color: var(--text-color);
        font-family: var(--font-code);
      }
    }
  }

  //  About section
  .about-wrapper {
    padding: 40px;
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
    background-image: url('../assets/img/about_me_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .rs-stack-item {
      text-align: left;

      .rs-btn {
        border: 2px solid var(--brand-1);
        border-radius: 20px 0 20px 0;
        padding: 15px 30px;
        background: var(--gray);
        color: var(--text-color);
        font-size: 2rem;
        font-family: var(--font-ubuntu);
        text-align: left;
      }
    }

    .about-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .about-left-content {
      display: block;
      text-align: left;

      .about-text {
        margin-top: 20px;
        padding: 20px;
        color: var(--text-color);
        font-size: clamp(12px, 14px, 16px);
        font-family: var(--font-code);
        background: var(--bg-1);
        border-radius: 15px;
        line-height: 1.8rem;

        p {
          font-size: 1.5rem;
          color: var(--brand-1)
        }
      }
    }

    .about-right-content {
      margin-top: 20px;
      text-align: left;
      line-height: 1.8rem;
      display: grid;
      justify-content: center;

      .title {
        font-weight: 600;
        font-family: var(--font-code);
        color: var(--brand-2);
        font-size: clamp(16px, 18px, 20px);
      }

      .value {
        font-weight: 400;
        color: var(--text-color);
        font-family: var(--font-ubuntu);
        font-size: clamp(14px, 16px, 18px);
      }
    }

    .tag {
      color: var(--brand-1);
      font-size: clamp(0.5rem, 1rem, 2rem);
      font-family: var(--font-code);
    }
  }
}

#header {
  .rs-dropdown-menu {
    background: var(--bg-1);
  }

  .rs-dropdown-item {
    font-size: clamp(12px, 14px, 16px);
    color: var(--text-color);
  }

  .rs-dropdown-item {
    font-size: clamp(12px, 14px, 16px);
    color: var(--text-color);
  }

  .rs-dropdown-item.rs-dropdown-item-active {
    background: var(--grey);
  }
}

// Theme toggle
.toggle.rs-toggle {
  position: fixed;
  right: 2%;
  top: 25%;
  z-index: 1;
  border-radius: 50%;

  .rs-toggle-inner {
    animation: rotating 3s linear infinite;
    transform-origin: center;
  }

  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.rs-toggle-lg .rs-toggle-presentation {
  background: var(--brand-1);
}

.rs-toggle-checked {
  .rs-toggle-presentation {
    background: var(--html) !important;
  }
}

.rs-toggle-lg .rs-toggle-presentation:hover {
  background: var(--brand-2);
}

.rs-navbar {
  font-family: var(--font-code);
  color: var(--text-color);

  .rs-navbar-item {
    font-size: clamp(12px, 14px, 16px);
    color: var(--text-color);
  }

  .rs-navbar-item:hover {
    background-color: transparent;
  }

  .rs-navbar-item.rs-navbar-item-active {
    color: var(--brand-1);
    background-color: transparent;
  }

  .rs-navbar-brand {
    font-family: var(--font-code);
    color: var(--brand-1);

    > span {
      color: #FFFFFF;
    }
  }

  .rs-navbar-item svg[aria-label='linkedin'],
  .rs-navbar-item svg[aria-label='github'],
  .rs-navbar-item svg[aria-label='instagram'] {
    fill: var(--brand-1);
    margin-right: 2px;
  }
}

/* skills */
.skill-section {
  position: relative;
  margin: 100px 0;
}

.skill-heading {
  text-align: center;
  font-size: clamp(40px, 50px, 60px);
  font-family: var(--font-ubuntu);
  color: var(--brand-1);
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 80px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  filter: grayscale(100%);
  opacity: .2;
}

.skill-name {
  font-size: clamp(14px, 5vw, 28px);
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.rs-progress-circle {
  width: clamp(80px, 100px, 120px);
}

.rs-progress-circle .rs-progress-trail {
  stroke: var(--bg-1) !important
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 30px;
}

// Project section
.project-wrapper {
  padding: 40px 0;
  display: grid;
  align-content: center;
  background-image: url('../assets/img/about_me_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .project-heading {
    text-align: center;
    font-size: clamp(40px, 50px, 60px);
    font-family: var(--font-ubuntu);
    color: var(--brand-1);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .project-sub-heading {
    text-align: center;
    font-size: clamp(14px, 16px, 18px);
    font-family: var(--font-code);
    color: var(--text-color);
    font-weight: 300;
  }

  .rs-carousel-slider-item {
    background: transparent;
  }

  .custom-slider {
    width: 40%;
    height: 350px;
    margin: 30px auto;
    background: transparent;
    border-radius: 80px 0 80px 0;
    -webkit-box-shadow: 5px 5px 0 0 #289FED, 10px 10px 0 0 #5FB8FF, 15px 15px 0 0 #A1D8FF, 20px 20px 0 0 #CAE6FF;
    box-shadow: 5px 5px 0 0 #289FED, 10px 10px 0 0 #5FB8FF, 15px 15px 0 0 #A1D8FF, 20px 20px 0 0 #CAE6FF;

    img {
      width: auto;
    }
  }
}

// Contact section
.contact-wrapper {
  background: var(--bg-2);
  display: grid;
  align-content: center;
  padding: 20px 0;

  .contact-heading {
    text-align: center;
    font-size: clamp(40px, 50px, 60px);
    font-family: var(--font-ubuntu);
    color: var(--brand-1);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .contact-sub-heading, .contact-phone {
    text-align: center;
    font-size: clamp(14px, 16px, 18px);
    font-family: var(--font-code);
    color: var(--text-color);
    font-weight: 300;
    line-height: 30px;
  }

  .contact-phone {
    padding: 20px 0 0 0;

    a {
      padding: 2px 25px;
      color: var(--brand-2);
      border: 1px solid var(--brand-1);
      border-radius: 10px;
      font-weight: 600;
    }
  }

  .rs-btn-ghost.rs-btn {
    margin: 50px auto 0 auto;
    padding: 20px 50px;
    width: 40%;
    cursor: inherit;
    text-transform: capitalize;
    font-family: var(--font-code);
    color: var(--brand-1);
    border: 2px solid var(--brand-1);
    border-radius: 30px 0 30px 0;
    font-size: clamp(26px, 28px, 30px);
  }

  .rs-btn-ghost:hover {
    background-color: var(--brand-1);
    color: var(--grey);
    -webkit-box-shadow: inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  .rs-form.rs-form-horizontal {
    margin-top: 50px;
    text-align: left;
    display: grid;
    justify-content: center;
    color: var(--text-color);
    font-family: var(--font-ubuntu);
  }

  .rs-form-help-text-tooltip {
    margin-left: 7px;
    margin-top: 5px;
  }

  .rs-input {
    background: var(--grey);
    color: var(--text-color);
    border-color: var(--brand-2);
  }

  #textarea {
    min-height: 100px;
    max-height: 200px;
  }

  .rs-btn[type='submit'] {
    width: 50%;
    margin-top: 20px;
    font-weight: bold;
    font-family: var(--font-ubuntu);
  }

  .rs-btn[type='submit']:hover {
    background: linear-gradient(45deg, transparent 5%, var(--error) 5%);
    box-shadow: 4px 0 0 var(--brand-1)
  }

  .rs-form-error-message {
    background: linear-gradient(45deg, var(--bg-2) 40%, var(--error) 5%);
    border: 1px solid var(--error);
    color: var(--text-color);
    margin-top: -5px;
  }
}

.back-top {
  position: fixed;
  color: var(--text-color);
  width: 50px;
  background: var(--brand-1);
  bottom: 30px;
  right: 30px;
  border-radius: 12px;

  svg {
    transform: rotate(270deg);
    font-size: 3rem;
  }
}

// Divider
.divider.rs-divider-horizontal {
  width: 95%;
  margin: 0 auto;
  background: var(--grey);
}

.divider.rs-divider-horizontal .footer {
  width: 100%
}

// Footer
footer {
  display: flex;
  padding: 20px 40px;
  justify-content: space-around;
  align-items: center;

  h4 {
    color: var(--text-color);
    font-family: var(--font-ubuntu);
    font-weight: lighter;
  }

  .social-media-icons {
    img {
      margin: 0 10px;
      background: var(--brand-1);
      border-radius: 8px;
    }

    img:hover {
      cursor: pointer;
      box-shadow: 1px 2px 10px var(--brand-2);
    }
  }
}

// Message
.rs-message-success.rs-message-bordered {
  background: #4caf50;
}

.not-found, .page-error {
  height: 100vh;
  background: var(--bg-2);
  color: var(--brand-1);
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  line-height: 2.5rem;
  font-family: var(--font-code);

  .e-404 {
    font-size: clamp(3rem, 5rem, 6rem);
  }

  .rs-btn-ghost {
    border-color: var(--error);
    color: var(--brand-1);
    background: transparent;
  }

  .rs-btn-ghost:hover {
    background: linear-gradient(230deg, transparent 3%, var(--error) 3%, transparent, transparent);
    border-color: var(--brand-1);
    color: var(--text-color)
  }

  a {
    margin-top: 20px;
    color: var(--redux);
    font-family: var(--font-ubuntu);
    cursor: pointer;
    font-size: clamp(18px, 20px, 22px);
  }
}

// About Projects
.project-section {
  padding: 40px 20px;
  color: var(--text-color);
  font-family: var(--font-ubuntu);

  h2 {
    padding: 20px 0;
    color: var(--brand-1)
  }

  p {
    font-family: var(--font-code);
  }

  img {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 550px;
  }
}

[data-theme='dark'] {
  .about-wrapper, .project-wrapper {
    background-image: none;
  }
}

// Media
@media only screen and (max-width: 900px) {
  .show-container {
    .greeting-wrapper .greeting {
      width: 100%;
      padding: 0 20px
    }

    .about-wrapper {
      padding: 30px 10px;

      .rs-stack-item {
        text-align: center;
      }

      .about-section .about-left-content {
        width: 100%;

        .about-text {
          border-radius: 30px;
          letter-spacing: 0;
          line-height: 1.2rem;
          font-size: clamp(8px, 12px, 14px);

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .about-right-content {
    display: none
  }

  .skill-section, .project-wrapper {
    padding: 20px 20px;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .skill-img {
    width: 80px;
    height: 80px;
  }

  .skill-info {
    font-size: clamp(8px, 1vw, 14px);
    line-height: 15px;
  }

  .project-wrapper .custom-slider {
    width: 80%;
    height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  .contact-wrapper {
    .rs-btn-ghost.rs-btn {
      width: 50%;
      padding: 20px 50px;
      font-size: clamp(18px, 20px, 22px);
    }
  }
}

@media only screen and (max-width: 640px) {
  .show-container .greeting-wrapper {
    padding: 0 0 40px 0;
    height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: -webkit-fill-available;

  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .skill-img {
    width: 60px;
    height: 60px;
  }

  .project-wrapper .custom-slider {
    width: 90%;
    height: 220px;
  }

  .contact-wrapper {
    .rs-btn-ghost.rs-btn {
      width: 50%;
      font-size: clamp(14px, 16px, 18px);
      padding: 10px 30px;
      margin-top: 15px
    }
  }

  .contact-wrapper .rs-form.rs-form-horizontal {
    display: block;
  }

  #from_name-control-label,
  #from_email-control-label,
  #textarea-control-label {
    margin-right: 20px;
    width: 140px
  }

  footer {
    display: grid;
    text-align: center;
    line-height: 30px;
  }

}

@media only screen and (max-width: 500px) {
  .brand-name {
    display: flex;
    justify-content: center;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .skill-img {
    width: 50px;
    height: 50px;
  }

  .rs-progress-circle {
    width: clamp(40px, 60px, 80px);
    font-size: 16px;
  }

  .skill-level {
    top: 10px;
    left: 55%
  }

  .skill-name {
    font-size: clamp(8px, 3vw, 22px);
  }

  .skill-info {
    font-size: clamp(8px, 1vw, 14px);
    line-height: 10px;
  }

  #from_name-control-label,
  #from_email-control-label,
  #textarea-control-label {
    margin-right: 20px;
    width: 100px
  }

  .contact-wrapper .rs-form-help-text-tooltip {
    display: none
  }

  .project-wrapper .project-sub-heading {
    font-size: clamp(10px, 12px, 14px);
  }

  footer {
    .social-media-icons {
      padding: 10px 0 0 0
    }
  }

  .not-found, .page-error {
    .e-404 {
      display: block;
      margin-bottom: 20px
    }
  }

}

@media only screen and (max-width: 420px) {
  .contact-wrapper .rs-form.rs-form-horizontal {
    text-align: center;
  }

  #form-group {
    display: inline-grid;
    margin-bottom: 0
  }

  #from_name-control-label,
  #from_email-control-label,
  #textarea-control-label {
    text-align: left;
    margin-bottom: 0
  }

  .contact-wrapper .rs-btn[type='submit'] {
    width: 100%;
  }

}

@media only screen and (max-width: 360px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-wrapper {
    .contact-sub-heading {
      font-size: clamp(10px, 12px, 14px);
    }
  }

  .show-container .about-wrapper {
    .about-right-content {
      line-height: 20px;

      .title {
        font-size: clamp(12px, 14px, 16px);
      }

      .value {
        font-size: clamp(10px, 12px, 14px);
      }

      .rs-navbar-item {
        padding: 5px;
        font-size: 8px;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-wrapper .custom-slider {
    width: 90%;
    height: 200px;
  }
}

