.game-wrapper {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  position: relative;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind the content */
  background: var(--bg-1);
}

.background-container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../assets/img/ps5.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(35deg);
}

.game {
  display: grid;
  justify-items: center;
  align-content: center;
  position: relative;

  .game-board {
    background: var(--brand-1);
    border-radius: 10px;

    .status {
      font-family: var(--font-ubuntu);
      font-size: clamp(20px, 22px, 24px);
      font-weight: 600;
      padding: 5px 0;
      margin: 10px;
    }
  }
}

.game-name {
  text-align: center;
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  font-family: var(--font-ubuntu);
  color: var(--text-color);
  margin: 15px 0;
}

.board-row {
  display: flex;

  .square {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border: 1px solid var(--bg-1)
  }

  .player-x {
    color: var(--error)
  }

  .player-o {
    color: var(--node)
  }
}

.game-info {
  padding: 20px 0;

  button {
    padding: 5px 30px;
    font-size: clamp(14px, 16px, 18px);
    font-family: var(--font-ubuntu);
    font-weight: 500;
    border-radius: 6px;
    color: var(--brand-1)
  }
}

.rs-modal-dialog {
  position: absolute;
  width: -webkit-fill-available;
  top: 30vh;
}

.rs-modal-content {
  background-color: var(--bg-1) !important;
  font-family: var(--font-ubuntu);

  .rs-modal-body {
    text-align: center;
    margin-bottom: 0;
    line-height: 25px;
    color: var(--text-color);

    h3 {
      color: var(--brand-1);
    }
  }

  button {
    background: var(--bg-2);
    color: var(--text-color);
  }
}

// Memory Game
.memory-game-container {
  padding: 10px 40px;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard {
  0%, 70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card img {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
}

@keyframes hideImage {
  0%, 70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
}

.card.correct {
  background-color: var(--node);
}

.card.wrong {
  background-color: var(--error);
}

.card.active img {
  transform: scale(1);
}

@media only screen and (max-width: 550px) {
  .memory-game-container {
    padding: 10px 20px;
    height: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5em;
  }
}

@media only screen and (max-width: 450px) {
  .memory-game-container {
    padding: 10px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5em;
  }
}