.game-wrapper {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  position: relative;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind the content */
  background: var(--bg-1);
}

.background-container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../assets/img/ps5.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(35deg);
}

.game {
  display: grid;
  justify-items: center;
  align-content: center;
  position: relative;

  .game-name {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-family: var(--font-ubuntu);
    color: var(--text-color);
    margin-bottom: 15px;
  }

  .game-board {
    background: var(--brand-1);
    border-radius: 10px;

    .status {
      font-family: var(--font-ubuntu);
      font-size: clamp(20px, 22px, 24px);
      font-weight: 600;
      padding: 5px 0;
      margin: 10px;
    }
  }
}

.board-row {
  display: flex;

  .square {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border: 1px solid var(--bg-1)
  }

  .player-x {
    color: var(--brand-1)
  }

  .player-o {
    color: var(--node)
  }
}

.game-info {
  padding: 20px 0;

  button {
    padding: 5px 30px;
    font-size: clamp(14px, 16px, 18px);
    font-family: var(--font-ubuntu);
    font-weight: 500;
    border-radius: 6px;
    color: var(--brand-1)
  }
}

.rs-modal-dialog {
  position: absolute;
  width: -webkit-fill-available;
  top: 40vh
}

.rs-modal-content {
  background-color: var(--bg-1) !important;
  font-family: var(--font-ubuntu);

  .rs-modal-body {
    text-align: center;
    margin-bottom: 0;
    line-height: 25px;
    color: var(--text-color);

    h3 {
      color: var(--brand-1);
    }
  }

  button {
    background: var(--bg-2);
    color: var(--text-color);
  }
}